<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chnword.zxingwapper">

    <application android:allowBackup="true" android:label="@string/app_name">

        <activity android:name=".zxing.activity.MipcaActivityCapture"></activity>
    </application>

</manifest>
